:root {
    --primary-color: #9e1a34;
    --secondary-color: #dfd8d8;
    --text-color:#c71111;
    --accent-color: #33333;
    --font-main: 'Lato', sans-serif;
    --font-heading: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dfd8d8;
    color: #333;
    line-height: 1.6;
}

header,
footer {
    background-color: #9e1a34;
    color: #f7f7f7;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 2rem;
    max-width: 900px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #f7f7f7;
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: #9e1a34

}

section {
    margin-bottom: 2rem;
}

ul {
    margin-left: 20px;;
}


figure {
    text-align: center;
    margin: 1rem 0;
}

figure img {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

figcaption {
    font-size: 0.9rem;
    color: #666;
}

.wireframe {
    text-align: center;
    margin: 1rem 0;
}

.wireframe img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;

}

footer p {
    font-size: 0.9rem;
    margin: 0;
}