* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #3a3a3a;
    color: white;
    padding-top: 20px;
}
header h1 {
    margin-left: 40px;
}

nav {
    background-color: #03058d;
    padding: 15px 0;
   
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    gap: 5px;
}

nav ul li {
    flex: 0 0 100px;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
}

nav a:hover {
    color: #ddd;
}

main {
    display: block;
    grid-template-columns: 50% 50% minmax(100px, auto);
}

.container {
    display: grid;
    grid-template-columns: 60% 40% minmax(100px, auto);
    grid-template-rows: minmax(200px, auto) 250px 250px;
}

.main-container {
    background-color: #c5c5c5;
    padding: 30px;
    height: 350%;

}

.aside-container {
    background-color: #618186;
    padding: 30px;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    height: 350%;
}

footer {
    background-color: #3a3a3a;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

