:root {
    --primary-color: #1b263b; /* deep sea darkblue */
    --secondary-color: #e3d5ca; /* soft sand light */
    --heading-font: 
    --body-font: "Lato", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    
body {
    font-family: "Lato", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 700;
}
header {
    background-color: var(--primary-color);
    color: white;
    padding: 1.5rem;
    text-align: center;
}