:root {
    --primary-color: #183a37; /* dark olive green */
    --secondary-color: #b6ac00; /* soft sand light */
    --accent-color: #f8f9fa; /* white light steel */
    --accent-color1: #ebf5f3; /* earthy tones very light blue */
    --accent-color2: #001d3d; /* deep sea darkblue */
    --accent-color3: #0521be; 
    --heading-font: "Anton", sans-serif;
    --body-font: "Lato", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    font-weight: 400;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--accent-color1);
}

a {
    color: var(--accent-color2);
    text-decoration: none;
}

h1 {
    font-family: var(--body-font);
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--accent-color2);
    grid-column: 1 / -1;
    margin: 20px 0;
    padding: 10px 0;
}

h2 {
    font-family: var(--body-font);
    font-weight: 700;
    font-size: 1.8em;
    color: var(--accent-color1);
    background-color: var(--primary-color);
    text-align: center;
    margin: -2rem -2rem 1.5em -2rem;
    border-radius: 8px 8px 0 0;
    padding: 10px;
}

p,
section {
    margin: 5px;
    padding: 5px;
    line-height: 1.2;
    font-size: 1.2rem;
}

/* Navigation Style */
nav {
    background-color: var(--secondary-color);
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    gap: 0.5rem;
}

nav a {
    text-decoration: none;
    color: var(--accent-color2);
    padding: 0.5rem;
    transition: all 0.3s ease;
    border-radius: 8px;
    transform: translateY(-1px);
}

nav a:hover {
    background-color: var(--accent-color2);
    color: var(--accent-color1);
    transform: translateY(1px);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* End of Navigation Style */

/* Header Style */
header {
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding-top: 10px;
    text-align: center;
}

header span {
    display: block;
    font-size: 1.8rem;
    padding: 10px;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
}

/* Main Body */
main {
    max-width: 1200px;
    flex: 1;
    margin: 20px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 10px;
}

main h1 {
    padding: 0.5px;
    margin: 0.5px;
}

.card {
    background-color: var(--accent-color);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.35);
}

.card ul {
    list-style-position: inside;
    padding-left: 1rem;
}

.card li {
    margin: 0.5rem 0;
    line-height: 1.8;
    font-size: 1.2rem;
}

.card li a {
    color: var(--accent-color3);
    text-decoration: none;
}

.card li a:hover {
    color: var(--accent-color2);
    padding: 0.5rem;
    border-radius: 8px;
}

.card img {
    max-width: 160px;
    float: right;
    margin: 1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
}

.card h3 {
    font-size: 1.2em;
    color: var(--primary-color);
    margin: 1.5rem 0 1rem 0;
    text-align: center;
}

hr {
    width: 60%;
    margin: 1rem auto;
    border: none;
    height: 1px;
    background: linear-gradient(to right, transparent, var(--primary-color) 10%, var(--primary-color) 80%, transparent);
}

.card .flag-container {
    display: flex;
    align-items: center;
    margin: 1rem 0 1rem 0;
    gap: 1rem;
}

.flag-container figure {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
}

.flag-description {
    margin: 0;
    text-align: left;
    padding-left: 0;
    flex: 1;
}

.flag-container figure img {
    width: 180px;
    border: 0.5px solid var(--accent-color1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.35);
}

figcaption {
    font-size: .90rem;
    text-align: center;
    font-style: italic;
    padding-left: 0.8px;
}

/* End of Main Style */

/* Footer Style */

footer {
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: 0.5rem;
    text-align: center;
    margin-top: auto;
}

footer p {
    margin: 0.5rem 0;
    line-height: 1.2;
    font-size: 1em;
}

footer p:last-child {
    color: var(--accent-color);
    font-size: 1em;
}

/* End fo Footer */
/* End of Home Page Style */