:root {
    --primary-color: #291dd3;
    --secondary-color: #ccd9e9;
    --accent-color: #e2e0e0;
    --font-color: #f8f9fa;
    --font-color1: #000000;
    --font-color2: #0911FB;
    --heading-font: "Roboto", sans-serif;
    --body-font: "Lato", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
    line-height: 1.6;
    background-color: var(--accent-color);
    color: #333;
    padding: 20px;
}

/* Headings */
h1 {
    text-align: center;
    color: var(--font-color);
    background-color: var(--primary-color);
    padding: 20px;
    margin: 0 auto 20px;
    max-width: 600px;
   
}

/* Form Container */
form {
    max-width: 600px;
    margin: 0 auto;
    background: var(--secondary-color);
    padding: 20px;
    border-radius: 8px;
}

/* Labels */
label {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
    color: var(--font-color1);
   
}

.optional {
    font-weight: normal;
    color: var(--font-color2);
}

/* Inputs, Select, Textarea */
input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%;
    max-width: 500px;
    padding: .75rem;
    margin-top: 5px;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    font-size: 1rem;
    font-family: "lato";
    background-color: var(--font-color);
}

/* Stars container */
.stars {
    display: flex;
    gap: .15rem;
    align-items: flex-end;
    justify-content: space-around;
}

.stars input[type="radio"] {
    display: block;
    margin: 0 auto 5px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.stars label {
    font-size: 0.9em;
    color: var(--font-color1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stars input[type="radio"]:checked+label {
    color: var(--primary-color);
}

/* Checkbox group */
.checkbox-group {
    margin-top: 5px;
}

.checkbox-group label {
    display: block;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 5px;
}

.apply-text {
    font-style: italic;
    font-weight: normal;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 8px;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.apply-text label{
    font-style: italic;
}

/* Submit Button */
input[type="submit"] {
    display: block;
    width: 100%;
    max-width: 500px;
    padding: 12px;
    margin-top: 20px;
    background-color: var(--accent-color);
    color: var(--font-color1);
    border: 1px solid var(--font-color1);
    border-radius: 6px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #b3adad;
}

/* Footer */
footer {
    max-width: 600px;
    margin: 10px auto 0;
    text-align: center;
    font-size: 0.85em;
    color: var(--font-color);
    background-color: var(--primary-color);
    padding: 10px;
   
}

footer p {
    margin: 5px 0;
}

/* Review page */
.review-page h1 {
    background-color: transparent;
    color: var(--font-color1);
    padding: 20px 0;
}

.review-page p {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}

.review-page footer {
    margin-top: 400px;
    /* Adjust this value to move footer further down */
}