:root {
    --primary-color: #052461;
    --secondary-color: #B6B4FE;
    --font-color1: #fcfcfc;
    --font-color2: #000711;
    --body-font: "Lato", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    font-weight: 400;
    min-height: 100vh;
    color: var(--font-color2);
}

/* Header Styling */
header {
    background-color: var(--primary-color);
    color: var(--font-color1);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.album-title {
    font-size: 4rem;
    font-weight: 700;
    flex: 1;
    text-align: center;
}

.menu-button {
    position: absolute;
    background: none;
    right: 1rem;
    top: 50%;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--font-color2);
    padding: 1rem;
    display: block;
}

.menu-button:hover {
    color: 2px solid var(--secondary-color);
}

/* Navigation Styling */
nav {
    padding: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    margin-right: 3rem;
    align-items: center;
    font-size: 1.5rem;
    gap: 0.5rem;
}

nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

nav ul.open {
    display: flex;
    text-align: center;
}

nav li {
    width: 100%;
}

nav a {
    background-color: #052461;
    color: var(--font-color1);
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
}

nav a:hover {
    color: var(--secondary-color);
    border-radius: 8px;
    transform: translateY(1px);
}

/* Main Content Styling */
main {
    display: grid;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

h1 {
    font-family: var(--body-font);
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
}

/* Temple Gallery Styling */
.temple-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    /* Check this */
    gap: 2rem;
    padding: 1rem 0;
}

/* Temple figure styling */
figure {
    display: block;
    overflow: hidden;
    text-align: center;
}

figure:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

figure img {
    width: 100%;
    height: auto;
    display: block;
}

figcaption {
    padding: 1.25rem;
    font-size: 1.5rem;
    text-align: center;
    color: var(--font-color2);
}

/* Footer Styling */
footer {
    background-color: var(--primary-color);
    color: rgb(251, 251, 251);
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 2rem;
}

footer p {
    font-size: 1rem;
    padding: 0.5rem;
}