:root {
    --primary-color: #022462;
    --secondary-color: #9d0abe;
    --font-color1: #01070e;
    --font-color1: #1f810e;
    --accent-color2: #9e0664;
    --body-font: "Lato", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    font-weight: 400;
    min-height: 100vh;
    background-color: var(--accent-color1);
    color: var(--font-color1);
}

/* Header Styling */
.album-title {
    font-size: 3rem;
    font-weight: 700;
    flex: 1;
    text-align: center;
}

.menu-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--font-color1);
    padding: 1rem;
    display: block;
}

.menu-button:hover {
    color: 2px solid var(--accent-color2);
}

/* Navigation Styling */
nav {
    background-color: var(--secondary-color);
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    gap: 0.5rem;
}

nav ul {
    list-style: none;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    gap: 5px;
}

h1 {
    font-family: var(--body-font);
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    color: var(--accent-color2);
    grid-column: 1 / -1;
    margin: 20px 0;
    padding: 10px 0;
}