@media screen and (min-width: 500px) {

    /* make header black background with white text when the large media query applies */
    header {
        background-color: #000000;
        color: #ffffff;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }
}